[submodule "candybox2.github.io"]
	path = candybox2.github.io
	url = https://github.com/candybox2/candybox2.github.io
[submodule "Cookie-Clicker-Source-Code"]
	path = Cookie-Clicker-Source-Code
	url = https://github.com/Trixter9994/Cookie-Clicker-Source-Code.git
